
.instant{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:58rem;
    width: 100%;
    background: linear-gradient(0deg, rgba(109, 83, 87, 0.5), rgba(109, 83, 87, 0.5)),url(img/pexels-jeshootscom-442574.jpg);
    opacity: 0.8;
    background-size: cover;
    position: relative;
    margin-top: 50px;
}
.heading{
    height:120px;
    width:563px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 48px;
    color: #FFFFFF;
    line-height: 60px;
   
}
.heading2{
    margin-top: 20px;
    font-family: open sans;
    font-style: Bold;
    text-align: center;
    font-size: 18px;
    color: #FFFFFF;
    width:490px;
    height:62px;
    font-weight: 700;   
}
.input2{
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin-top: 20px;
    height:80px;
    width:60%;
    
}
.input{
    height: 80px;
    width:320px;
    margin-left: 70px;
    grid-gap:30px;
}

.background-img{
    background: linear-gradient(0deg, rgba(109, 83, 87, 0.5), rgba(109, 83, 87, 0.5));
    width:100%;
    height:62px;
    width:100%;
    font-family: open sans;
    font-style: Bold;
    text-align: center;
    font-size: 48px;
    color: #FFFFFF;

}
