/*.meetourteam{
    height:700px;
    width: 100%;
    background-color: aqua;

}*/
.meet{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap:50px;
    background-color:#ffff;
    z-index: 11;
    /*display: grid;
    height:1000px;
    width:100%;
    grid-template-columns: repeat(4,300px);
    background-color:#f91313;
    justify-content: center;
    align-content: center;
    grid-gap:120px;
    box-shadow: 0px 10px 15px rgba(6, 0, 0, 0.25);*/
}
.head_meet{
    height: 96px;
    width: 650px;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    color: #553d67;
    margin: 70px;
    margin-left: 950px;
    /*height:60px;
    width:423px;
    font-weight: 400;
    font-size: 48px;
    color:#553D67;
    margin-left: 1050px;
    margin-top: 120px;
    /*border-bottom: 6px solid #F64C72;*/

}
.meet1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 420px;
    width: 400px;
    background-color: #fff;
    box-shadow: 0px 10px 15px rgba(6, 0, 0, 0.25);
}
.review_line{
    margin-left: 250px;

}
.img{
    height:260px;
    width: 400px;
}
.h3{
    font-size: 24px;
    color:#553D67;
    font-weight: 600;
    font-style: Bold;
    align-items:flex-start;

}
.p1{
    font-family: "Mulish";
    font-size: 14px;
    font-weight: 600;
    color: #6D7D8D;
    height: 21px;
    width:131px;

}
.p2{
    font-family: "open sans";
    font-size: 16px;
    font-weight: 400;
    color: #697694;
    height: 79px;
    width: 327px;
}